<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="con" connectionString="database=hostel;password=root;port=3306;server=localhost;user id=root;sslmode=None" providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
</configuration>